/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */

/* .imgthumbnail {
    width: 100%;
    height: 400px;
    overflow: hidden;
    line-height: 0;
    border-radius: 10px;
    margin-bottom: 20px;
} */

/* .imgthumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
